﻿/* Body. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 20px;
    background-color: #dddde0;
}

/* Links. */

a {
    font-weight: bold;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


/* Window. */

#window {
    border: #000 1px solid;
    background-color: #fff;
}

/* Page title. */

#pageTitle {
    background-color: #097099;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    font-weight: bold;
}

h1 {
    text-align: center;
}
/* Menu. */
#menu {
    background-color: #094069;
    color: #fff;
    text-align: left;
    padding: 5px 0 5px 5px;
}

#menuWelcome {
    font-weight: bold;
}

#menuLinks a {
    color: #fffac6;
}

/* Content. */

#content {
    width: 90%;
    min-height: 200px;
    display: inline-block;
    text-align: center;
    padding: 10px;
}


p.info {
    font-size: 16px;
}



div.field {
    clear: both;
    padding-top: 1em;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

    div.field span.label {
        flex: 1;
        font-weight: bold;
        vertical-align: middle;
        padding-top: 0.3em;
        padding-right: 0.3em;
        text-align: right;
    }

    div.field span.entry {
        float: right;
        text-align: left;
        width: 49.5%;
        flex: 2;
    }

        div.field span.entry input, div.field span.entry select, div.field span.entry textarea {
            width: 100%;
            max-width: 100%;
        }

div.checkbox {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

input, select, textarea {
    background-color: #f4f4f4;
}


/* Wrapper. */
.wrapper {
    display: flex;
}


/* Sidebar. */
.sidebar {
    background-color: #097099;
    width: 200px;
    height: 100%;
    display: inline-block;
    text-align: center;
}

    .sidebar a {
        color: #fffac6;
    }

        .sidebar a:hover {
            color: #cc0000;
        }

    .sidebar ul {
        list-style: none;
        padding-top: 0px;
        /* Hack for correct indentation (the following three lines). */
        margin-left: 0;
        padding-left: 1em;
        text-indent: -1em;
    }

    .sidebar li {
        padding: 0 0 3px 5px;
    }


/* Tags.*/
.tag {
    color: white;
    display: inline-block;
    padding: 5px;
    background-color: #094069;
    margin: 3px;
    border-radius:3px;
}



/* Tables. */

table{
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 20px);
}

    .productDetails {
        width: 30%;
    }

/* Error messages. */

.containerErrors {
    text-align: center;
    margin: 10px auto;
}

    .containerErrors .errorMessage {
        font-weight: bold;
        color: red;
        margin-left: 5px;
    }

/* Footer. */

#footer {
    border-top: 1px solid #000;
    padding-top: 5px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

table th, strong {
    font-weight: bold;
}

table th, td {
    font-size: 12px;
}

table.accountDetails {
    margin: auto;
}



/*****************************/

/***PAGINATE***/
.previousNextLinks {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

    .previousNextLinks a {
        display: inline-block;
        margin-right: 10px;
    }


/***ELLIPSIS TEXT***/
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
    border-bottom: 0px;
    overflow: hidden;
}