﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ECommerce.Master" AutoEventWireup="true" CodeBehind="Logout.aspx.cs" Inherits="Es.Udc.DotNet.PracticaMaD.Web.Pages.User.Logout" %>
<asp:Content ID="Content" ContentPlaceHolderID="ContentPlaceHolder_BodyContent" runat="server">
</asp:Content>
